/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
}


.roboto {
  font-family: "Roboto", sans-serif;
}

h4{
    padding: 10px;
}

h3{
    padding: 5px;
}